<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row class="header">
    <ion-col>Pair</ion-col>
    <ion-col>Mkt. Cap (USD)</ion-col>
    <ion-col>Volume</ion-col>
    <ion-col>Price</ion-col>
    <ion-col (click)="metricsSetter()">Metrics</ion-col>
  </ion-row>
  <div *ngFor="let pair of pairList$ | async">
    <ion-row class="divider" *ngIf="dividerHelper(pair.base)">
      <ion-col>{{pair.base}}</ion-col>
    </ion-row>

    <ion-row (click)="pushPairPage(pair)" ngClass="{'item-divider': pair.base}">
      <ion-col>{{pair.coin}}</ion-col>
      <ion-col>{{pair.mktCap}}</ion-col>
      <ion-col>{{pair.baseVolume}}</ion-col>
      <ion-col>{{pair.last}}</ion-col>
      <ion-col *ngIf="metricDisplayString=='all'">{{pair.obMetricAll}}</ion-col>
      <ion-col *ngIf="metricDisplayString=='1'">{{pair.obMetric1}}</ion-col>
      <ion-col *ngIf="metricDisplayString=='10'">{{pair.obMetric10}}</ion-col>
    </ion-row>
  </div>
  <!--<ion-row *ngFor="let pair of pairList$ | async" (click)="pushPairPage(pair)" ngClass="{'item-divider': pair.base}">-->
    <!--<ion-col>{{pair.pair}}</ion-col>-->
    <!--<ion-col>{{pair.mktCap}}</ion-col>-->
    <!--<ion-col>{{pair.baseVolume}}</ion-col>-->
    <!--<ion-col>{{pair.last}}</ion-col>-->
    <!--<ion-col *ngIf="metricDisplayString=='all'">{{pair.obMetricAll}}</ion-col>-->
    <!--<ion-col *ngIf="metricDisplayString=='1'">{{pair.obMetric1}}</ion-col>-->
    <!--<ion-col *ngIf="metricDisplayString=='10'">{{pair.obMetric10}}</ion-col>-->
  <!--</ion-row>-->
</ion-content>
