<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row class="header">
    <ion-col>Pair</ion-col>
    <ion-col>Mkt. Cap (USD)</ion-col>
    <ion-col>Price</ion-col>
    <ion-col>Volume</ion-col>
    <ion-col>All Liquidity</ion-col>
    <ion-col>10% Liquidity</ion-col>
    <ion-col>1% Liquidity</ion-col>
  </ion-row>
  <div *ngFor="let coin of poloniexData$ | async">
    <ion-row class="divider">
      <ion-col>{{coin.name}}</ion-col>
      <ion-col>{{coin.mktCap.toExponential(5)}}</ion-col>
      <ion-col>-</ion-col>
      <ion-col>{{coin.sumVolume}}</ion-col>
      <ion-col>{{coin.sumLiquidityAll}}</ion-col>
      <ion-col>{{coin.sumLiquidity10}}</ion-col>
      <ion-col>{{coin.sumLiquidity1}}</ion-col>
    </ion-row>

    <ion-row *ngFor="let pair of coin.pairs" (click)="pushPairPage(pair)">
      <ion-col>{{pair.secondCoin}}</ion-col>
      <ion-col>{{pair.mktCap.toExponential(5)}}</ion-col>
      <ion-col>{{(+pair.last).toFixed(8)}}</ion-col>
      <ion-col>{{pair.volume}}</ion-col>
      <ion-col>{{pair.liquidityAll}}</ion-col>
      <ion-col>{{pair.liquidity10}}</ion-col>
      <ion-col>{{pair.liquidity1}}</ion-col>
    </ion-row>
  </div>
</ion-content>
